<% if (typeof(errors) !== "undefined") { %>
  <% errors.forEach(error => { %>
    <div>
      <p><%= error %></p>
    </div>
  <% }) %>
<% } %>

<% if (messages.success) { %>
  <div>
    <p><%= messages.success %></p>
  </div>
<% } %>

<% if (messages.info) { %>
  <div>
    <p><%= messages.info %></p>
  </div>
<% } %>