<div>
  <label for="">Name</label>
  <input type="text" name="name" value="<%= typeof(name) !== "undefined" ? name : "" %>">
</div>

<div>
  <label for="">Email</label>
  <input type="email" name="email" value="<%= typeof(email) !== "undefined" ? email : ""  %>">
</div>

<div>
  <label for="">Password</label>
  <input type="password" name="password1">
</div>

<div>
  <label for="">Confirm Password</label>
  <input type="password" name="password2">
</div>