<h2>Login Here</h2>

<%- include("../partials/message") -%>

<form method="POST">
  <div>
    <label for="">Email</label>
    <input type="email" name="email" value="<%= typeof(username) !== "undefined" ? username : "" %>">
  </div>
  <div>
    <label for="">password</label>
    <input type="password" name="password">
  </div>
  <div>
    <input type="submit" value="Login">
  </div>
</form>