<div>
  <label for="">Title</label>
  <input type="text" name="title" value="<%= typeof(post.title) !== "undefined" ? post.title : "" %>">
</div>

<div>
  <label for="">Cover Image</label>
  <input type="file" name="coverImage" class="filepond">
</div>

<div>
  <label for="">Category</label>
  <select name="category">
    <% if (typeof(post.category) !== "undefined") { %>
     <option selected value=<%= post.category %>><%= post.category %></option>
    <% } %>
    <option value="Programming">Programming</option>
    <option value="Productivity">Productivity</option>
    <option value="Nature">Nature</option>
    <option value="General">General</option>
  </select>
</div>

<div>
  <label for="">Content</label>
  <textarea name="body" id="" cols="60" rows="30"><%= typeof(post.body) !== "undefined" ? post.body : "" %></textarea>
</div>

<div>
  <div>
    <input type="radio" id="public" name="postType" value="public">
    <label for="">Public</label>
    <input type="radio" id="private" name="postType" value="private">
    <label for="">Private</label>
  </div>
</div>