<%- include("../partials/header") -%>
<div class="container">
  <h2>Create New Post</h2>
  <%- include("../partials/message") -%>
  <form method="POST">
    <%- include("_form_fields") -%>
    <a href="/">Cancel</a>
    <input type="submit" value="Create">
  </form>
</div>
